.container {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    font-family: Arial, sans-serif;
}
#qr-form {
    margin-bottom: 20px;
    display: flex;
}
#text-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-color: blue;
}
button {
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
#qr-code {
    margin-top: 20px;
}